doctype html
html
  head
    title= "Dimense"

    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript', src='js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='js/three-dev.min.js')
    script(type='text/javascript', src='js/threex.dynamictexture.js')
    script(type='text/javascript', src='js/VRControls.js')
    script(type='text/javascript', src='js/VREffect.js')
    script(type='text/javascript', src='js/dimense-front.js')

    block head
  body
    block content