doctype html
html
  head
    title= "Dimense"

    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript', src='js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='js/three.min.js')
    script(type='text/javascript', src='js/dimense-front.js')

    block head
  body
    block content